.PhoneBooks {
  padding: 40px;
}

.PhoneList {
  display: block;
  background-color: #cccccc;
  text-align: left;
  padding: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.PhoneList img {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.PhoneList div {
  padding-top: 40px;
}