.ContactForm-form {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 40px;
}

.ContactForm-field {
  margin: 15px 0;
}

.ContactForm-field input {
  width: 90%;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding-left: 15px;
  margin-left: 15px;
}

.ContactForm-field button {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: salmon;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.ContactForm-field button a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}