.App {
  text-align: center;
}

.App-top {
  display: inline-block;
  width: 100%;
  height: 70px;
  border: 1px solid #ccc;
}

.App-top h3 {
  text-align: left;
  padding-left: 20px;
}

.App-top button {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 20px;
  width: 200px;
  height: 40px;
  background-color: salmon;
  border: none;
  cursor: pointer;
}

.App-top button a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}